<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="~{fragments :: head}">
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div th:replace="~{stones/index :: stone-Nav}"></div>
        <div th:fragment="addStone" class="container">
            <form action="/action_page.php">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Stone/Crystal Name:</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="stoneName" name="stoneName" placeholder="Stone name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname"></label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-75">
                        <select id="country" name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </body>
</html>

<!-- This page will have an Add Stone Form -->
<!-- It will also have navigation back to everything else -->